{% load staticfiles %}
<!DOCTYPE html>
	<html lang = "gr">
		<head>
			<meta charse = "utf-8"/>
			<meta name="author" content="2152-2216"> 
			<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			<title>ΣΑΕΛ</title>
			
			<link rel="stylesheet" type="text/css" href="{% static 'computational_thinking/style.css' %}" />  			
			<style>
				
			</style>
		</head>
	<body>
		<div id = "main">
			<div id = "Title">
				<center>
				<div id = "titleSpace">
						<h1> Computational Thinking </h1>
						<h2> ΑΕΜ:2152 - 2216 - 2234</h2>
						<h3>DECOMPOSE</h3>
				</div>
				</center>
			</div>
		
		<div class = "centerContainer">			
			<div id="gameboard" style="background-color:#7FFFD4"> <!-- ΝΑ ΔΙΟΡΘΩΘΕΙ ΣΤΟ CSS   -->
					<center><p align= "center"> Η συγκεκριμένη ενότητα, είναι γνωστή στα ελληνικά ως 'αφαίρεση'. Η διαδικασία της 'αφαίρεσης' </br>
						σε ένα πρόβλημα, μας βοηθά στο να κταλάβουμε ποιες πληροφορίες </br> 
						ή στοιχεία μας είναι χρήσιμα και ποια όχι. Μπορούμε να τα χωρίσουμε </br>  
						σε 2 κατηγορίες ανάλογα με την χρησιμότητα τους και να επιλέξουμε </br>  
						μόνο εκείνα που μας είναι σημαντικά για την επίλυση.</br> </p></center>
					<center><p align= "center"> </br> Η “αφαίρεση” είναι μια τεχνική που μπορούμε να την χρησιμοποιήσουμε σε όλους τους τομείς </br> 
						και σε πολλά πράγματα της καθημερινής μας ζωής. Για παράδειγμα στα μαθηματικά, όταν διαβάζουμε ένα πρόβλημα,</br>
						σημειώνουμε τα στοιχεία που χρειαζόμαστε και δεν μας αποσπούν άλλες ασήμαντες πληροφορίες όπως ονόματα, χρώματα </br>
						και ιδιότητες των πραγμάτων που δεν μας ενδιαφέρουν στην λύση. </p></center>
					<center><a href="practiseabstraction.html" style = "text-decoration:none;" id = "decomposebut">
						<div>
							<strong>Άσκηση<strong/>
						</div>
					</a></center>
				
    		</div>
			
			<div id = "right_side">
				<center>
								<ul>
									<li>
											<a href = "index.html">
													<div >
													<input type="image" src="{% static 'computational_thinking/assets/home.png' %}" alt="Submit" width="30%" height="30%">
													<center>Αρχική</center>
													</div>
											</a>
									</li>
									
									<li>
											<a href = "decompose.html">
													<div>
														<input type="image" src="{% static 'computational_thinking/assets/decompose.png' %}" alt="Submit" width="30%" height="30%">
														<center>Τμηματοποίηση</center>
													</div>
											</a>
									</li>
									
									<li>
											<a href = "pattern.html">
													<div>
														<input type="image" src="{% static 'computational_thinking/assets/pattern.png' %}" alt="Submit" width="30%" height="30%">
														<center>Μοτιβο</center>
													</div>
											</a>
									</li>
									
									<li>
											<a href = "abstraction.html">
													<div>
														<input type="image" src="{% static 'computational_thinking/assets/abstraction.png' %}" alt="Submit" width="30%" height="30%">
														<center>Αφαιρεση</center>
													</div>
											</a>
									</li>
									
									
									<li>
									
											<a href = "#">
													<div>
														<input type="image" src="{% static 'computational_thinking/assets/algorithm.png' %}" alt="Submit" width="30%" height="30%">
														<center>Αλγόριθμος</center>
													</div>
											</a>
									</li>
									
								</ul>
						</center>								
							
			</div>

		</div>
		
		</div>
	</body>