{% load staticfiles %}
<!DOCTYPE html>
	<html lang = "gr">
		<head>
			<meta charse = "utf-8"/>
			<meta name="author" content="2152-2216"> 
			<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			<title>ΣΑΕΛ</title>
			
			<link rel="stylesheet" type="text/css" href="{% static 'computational_thinking/style.css' %}" />
			
			<style>
				
			</style>
		</head>
	<body>
		<div id = "main" >
			<div id = "Title">
				<center>
				<div id = "titleSpace">
						<h1> Computational Thinking </h1>
						<h2> ΑΕΜ:2152 - 2216 - 2234</h2>
				</div>
				</center>
			</div>
		
						
			<div id="gameboard" style="width:1020; height:600;">
				<script>
					// first set the value you will be using.
					var STATIC = ""; // and anything else you need to set
				</script>
				<script type="text/javascript" src="{% static 'computational_thinking/intro.js' %}"></script>

			</div>
			
			<div id = "right_side">
				<center>
								<ul>
									<li>
											<a href = "index.html">
													<div >
													<input type="image" src="{% static 'computational_thinking/assets/home.png' %}" alt="Submit" width="30%" height="30%">
													<center>Αρχική</center>
													</div>
											</a>
									</li>
									
									<li>
											<a href = "decompose.html"> <!-- αλλαγη hyperlink. O,οιως και στα υπόλοιπα -->
													<div>
														<input type="image" src="{% static 'computational_thinking/assets/decompose.png' %}" alt="Submit" width="30%" height="30%">
														<center>Αποσύνθεση</center>
													</div>
											</a>
									</li>
									
									<li>
											<a href = "pattern.html">  <!-- ΝΑ αλλαξει το # στα html της decompose -->
													<div>
														<input type="image" src="{% static 'computational_thinking/assets/pattern.png' %}" alt="Submit" width="30%" height="30%">
														<center>Μοτίβο</center>
													</div>
											</a>
									</li>
									
									<li>
											<a href = "abstraction.html">
													<div>
														<input type="image" src="{% static 'computational_thinking/assets/abstraction.png' %}" alt="Submit" width="30%" height="30%">
														<center>Αφαιρετική σκέψη</center>
													</div>
											</a>
									</li>
									
									
									<li>
									
											<a href = "#">
													<div>
														<input type="image" src="{% static 'computational_thinking/assets/algorithm.png' %}" alt="Submit" width="30%" height="30%">
														<center>Αλγόριθμος</center>
													</div>
											</a>
									</li>
									
								</ul>
						</center>								
							
			</div>

		
		
		</div>
	</body>